#tab1 {
    .rocket-lazyload-form {
        margin-top: 20px;
        fieldset {
            p {
                font-size: 14px;
                line-height: 38px;
                margin: 0;
            }
        }        
    }
}
.rocket-lazyload-form {
    .button-primary {
        font-weight: 600!important;
    }  
} 